//
// Load core variables and mixins
// --------------------------------------------------

@import "_variables.less";
@import "_mixins.less";


//
// EHRI COLORS
// --------------------------------------------------

@ehri-dark-purple : #360f4f;
@ehri-medium-purple : #83004c;
@ehri-light-purple : #84004c;

@ehri-darkest-grey:#333333;
@ehri-dark-grey:#999999;
@ehri-medium-grey:#CFCFD0;
@ehri-light-grey:#ECEDEE;
@ehri-font:"news-gothic-std",sans-serif;

@content-color:#FFFFFF;


//
// General
// --------------------------------------------------
body {
	background-color:@ehri-light-grey;
	font-family:@ehri-font;
}

body > .container {
	background-color:@content-color;
}
//
// Content
// --------------------------------------------------
#main {
	.top {
		border-top:4px solid @ehri-dark-purple;
		border-bottom:2px solid @ehri-dark-purple;
		background-color:@ehri-light-purple;
		padding:5px;
	}
	article {
		background-color:@content-color;
		padding:5px;
		header {
			margin-top:0;
			padding-top:0;
			h1 {
				font-variant: small-caps;
				font-weight: bold;
			}
		}
		& > section {
			
		}
		footer {
			clear:both;
			min-height:20px;
		}
	}
}
//
// Top Bar
// --------------------------------------------------

#menu {
	background-color:white;
	border:none;
	margin-top:40px;
	padding-left:0;
	margin-left:-15px;
	.border-left-radius(0);
	min-height:40px;
	
	
	//
	//	Dropdown in nav
	//----
	.dropdown.open {
		> a:focus {
			border-top-color:@ehri-dark-grey;
			background-color:@ehri-light-purple;
		}
		ul.dropdown-menu {
			padding:0;
			padding-top:10px;
			padding-bottom:10px;
			border-radius:0;
			border:none;
			background-color:@ehri-medium-grey;
			li > a {
				color:@ehri-darkest-grey;
				border-left:5px solid @ehri-medium-grey;
				font-weight:bold;
				font-variant:small-caps;
				font-size:smaller;
				&:hover {
					border-left:5px solid @ehri-medium-purple;
					color:@ehri-darkest-grey;
					cursor:pointer;
				}
			}
			& > li.dropdown-header {
				font-weight:bold;
				font-variant:small-caps;
				font-size:16px;
				border-left:5px solid @ehri-dark-purple;
				color:@ehri-darkest-grey;
				
			}
		}
	}
	.navbar-collapse {
		padding-left:0;
		.navbar-nav {
			> li {
				border-left:1px solid @content-color;
				background-color:@ehri-dark-purple;
				
				&:hover {
					.box-shadow(0px 2px 5px rgba(0, 0, 0, 0.5));
				}
				&:first-child {
					border-left:none;
				}
				&:last-child {
					.border-right-radius(5px);
				}
				
				& > a {
					color:#FFFFFF;
					font-weight:bold;
					font-variant:small-caps
				}
			}
			.active {
				& > a {
					background-color:@ehri-medium-purple;
				}
			}
		}
		
		//
		//	Navbar Form
		//------
		.navbar-form {
			padding:0;
			.input-group {
				.form-control {
					border-color:@ehri-dark-purple;
					&:focus {
						.box-shadow(0px 2px 5px rgba(0, 0, 0, 0.075));
					}
				}
				.input-group-addon {
					padding:0;
					background-color:@ehri-dark-purple;
					border-color:@ehri-dark-purple;
					.dropdown-toggle {
						display:block;
						height:100%;
						width:100%;
						color:white;
						
						//<---
						//Inherited from input group addon
						//
						padding:6px 12px;
						//--->
						
						&:hover {
							cursor:pointer;
							color:white;
						}
					}
					.dropdown-menu {
						text-align:left;
					}
				}
			}
		}
	}
}



//
// Right Bar
// --------------------------------------------------
#right-bar {

	//
	//	Carousel
	//
	#carousel {
		.carousel-inner {
			border-radius :5px;
		}
		.left {
			.border-left-radius(5px);
		}
		.right {
			.border-right-radius(5px);
		}
	}
	//
	//	Well
	//
	.well {
		border:none;
		background-color:@content-color;
		.box-shadow(none);
		article {
			header {
				h1 {
					font-size:30px;
					font-weight:bold;
					font-variant:small-caps;
					margin:0;
					padding:0;
				}
			}
			section {
				text-align:justify;
			}
		}
		
		.nav {
		
			li > a {
				color:@ehri-darkest-grey;
				font-weight:bold;
				font-variant:small-caps;
				
				&:hover {
					background-color:@ehri-light-grey;
					//Nothing to do there
				}
			}
		}
	}
	hr {
		opacity:0;
	}
}


//
//	Responsive utilities on dropdown / Little screens
//-----
@media (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {
	//
	//	MENU
	//---------------------
	#menu {
		margin-left:0;
		.border-left-radius(0);
		.border-right-radius(0);
		.navbar-collapse {
			
			&.in {
				overflow-y:visible;
			}
			
			.navbar-nav {
				margin-right:15px;
				margin-left:15px;
				border-radius:5px;
				& > li {
					border-left:0px;
					&:first-child {
						.border-top-radius(5px);
						a {
							.border-top-radius(5px);
						}
					}
					&:last-child {
						.border-right-radius(0);
						.border-bottom-radius(5px);
					}
				}
			}
		
			.navbar-form {
				&.navbar-right {
					float:none;
				}
				margin:15px;
				.box-shadow(none);
				border:none;
				display:block;
				
				.input-group {
					display:block;
					> * {
						display:block;
					}
					.form-control {
						.border-right-radius(5px);
					}
					> .input-group-addon {
						display:block;
						border:none;
						background-color:@content-color;
						padding:0;
						width:100%;
					}
				}
			}
		}
		.dropdown {
			.dropdown-toggle {
				display:block;
				clear:both;
			}
			.dropdown-menu {
				display:block;
				position:inherit;
				width:100%;
				float:none;
				border:none;
				.box-shadow(none);
				> li {
					display:block;
					width:100%;
					> a {
						display:block;
						width:100%;
						cursor:pointer;
					}
				}
			}
		}
	}
	//
	//	Content
	//---------------------
	#main {
		.btn-group.pull-right {
			float:none!important;
		}
	}
}