@(message: List[(String, String)])(implicit request: RequestHeader, lang: Lang)

@JS = @{List("leaflet.js") }
@CSS = @{List("leaflet.css") }

@main("Welcome to Play", JS, CSS) {
	<article>
		<header class="page-header">
			<h1>Places browsing</h1>
		</header>
		<section>
			<section class="content-options">
				<form class="form-inline" role="form">
					<div class="form-group">
						<input class="form-control" name="search" placeholder="Quick Search" />
					</div>
					
					<div class="btn-group pull-right">
						<button type="button" class="btn btn-default btn-active">Terezin Map</button>
						<button type="button" class="btn btn-default">All Places</button>
					</div>
				</form>
				<hr />
			</section>
			<div id="map" style="height:400px;"></div>
		</section>
		<footer>
		</footer>
	</article>

}{
	<script type="text/javascript">
		var map = L.map('map').setView([51.505, -0.09], 13);
		L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
			attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
		}).addTo(map);
		
		@for((value1, value2) <- message) {
			
			L.marker([@value2, @value1]).addTo(map)
			.bindPopup('A pretty CSS3 popup. <br> Easily customizable.');
		}
	</script>
}
