@(message: List[(String, String)])(implicit request: RequestHeader, lang: Lang)

@JS = @{List("leaflet.js", "jquery.ui.min.js") }
@CSS = @{List("leaflet.css", "jquery.ui.css", "jquery.ui.theme.css") }

@main("Welcome to Play", JS, CSS) {
	<article>
		<header class="page-header">
			<h1>Time browsing</h1>
		</header>
		<section>
			<section class="content-options">
				<form class="form-inline" role="form">
					<div class="form-group">
						<input class="form-control" name="search" placeholder="Quick Search" />
					</div>
					
					<div class="btn-group pull-right">
						<button type="button" class="btn btn-default btn-active">Order by Date</button>
						<button type="button" class="btn btn-default btn-active">By Size</button>
						<button type="button" class="btn btn-default">By Title</button>
					</div>
					
					<div id="slider-range" style="clear:both; margin-top:20px;"></div>
					<div style=" margin-top:20px;" id="slider-val" >
						<div class="form-group">
							<input type="hidden" value="" id="date-range-min" />
							<input class="form-control form-noborder min-show date-range-picker" data-target="date-range-min" placeholder="From" />
						</div>
						
						<div class="form-group pull-right">
							<input type="hidden" value="" id="date-range-max" />
							<input class="form-control form-noborder max-show date-range-picker" data-target="date-range-max" placeholder="To" />
						</div>
					</div>
				</form>
				<hr />
			</section>
			<section class="content-results">
				<ul class="list-item">
					<li class="item-wrapper documentaryUnit">
						<div class="item-option"><span class="item-toggle glyphicon-plus"></span></div>
						<div class="item-title">Lorem ipsum</div>
						<div class="item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fringilla augue lacus, nec molestie sem dapibus a. Maecenas sollicitudin ac ipsum at commodo. Curabitur varius ultricies purus, eget imperdiet nisl fringilla ac. In hendrerit libero turpis, vitae pretium quam sagittis vitae. Ut elementum diam ac adipiscing volutpat. </div>
					</li>
					<li class="item-wrapper">
						<div class="item-option"><span class="item-toggle glyphicon-plus"></span></div>
						<div class="item-title">Lorem ipsum</div>
						<div class="item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fringilla augue lacus, nec molestie sem dapibus a. Maecenas sollicitudin ac ipsum at commodo. Curabitur varius ultricies purus, eget imperdiet nisl fringilla ac. In hendrerit libero turpis, vitae pretium quam sagittis vitae. Ut elementum diam ac adipiscing volutpat. </div>
					</li>
					<li class="item-wrapper repository">
						<div class="item-option"><span class="item-toggle glyphicon-plus"></span></div>
						<div class="item-title">Lorem ipsum</div>
						<div class="item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fringilla augue lacus, nec molestie sem dapibus a. Maecenas sollicitudin ac ipsum at commodo. Curabitur varius ultricies purus, eget imperdiet nisl fringilla ac. In hendrerit libero turpis, vitae pretium quam sagittis vitae. Ut elementum diam ac adipiscing volutpat. </div>
					</li>
					<li class="item-wrapper">
						<div class="item-option"><span class="item-toggle glyphicon-plus"></span></div>
						<div class="item-title">Lorem ipsum</div>
						<div class="item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fringilla augue lacus, nec molestie sem dapibus a. Maecenas sollicitudin ac ipsum at commodo. Curabitur varius ultricies purus, eget imperdiet nisl fringilla ac. In hendrerit libero turpis, vitae pretium quam sagittis vitae. Ut elementum diam ac adipiscing volutpat. </div>
					</li>
					<li class="item-wrapper historicalAgent">
						<div class="item-option"><span class="item-toggle glyphicon-plus"></span></div>
						<div class="item-title">Lorem ipsum</div>
						<div class="item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fringilla augue lacus, nec molestie sem dapibus a. Maecenas sollicitudin ac ipsum at commodo. Curabitur varius ultricies purus, eget imperdiet nisl fringilla ac. In hendrerit libero turpis, vitae pretium quam sagittis vitae. Ut elementum diam ac adipiscing volutpat. </div>
					</li>
					<li class="item-wrapper">
						<div class="item-option"><span class="item-toggle glyphicon-plus"></span></div>
						<div class="item-title">Lorem ipsum</div>
						<div class="item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fringilla augue lacus, nec molestie sem dapibus a. Maecenas sollicitudin ac ipsum at commodo. Curabitur varius ultricies purus, eget imperdiet nisl fringilla ac. In hendrerit libero turpis, vitae pretium quam sagittis vitae. Ut elementum diam ac adipiscing volutpat. </div>
					</li>
					<li class="item-wrapper virtualCollection">
						<div class="item-option"><span class="item-toggle glyphicon-plus"></span></div>
						<div class="item-title">Lorem ipsum</div>
						<div class="item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean fringilla augue lacus, nec molestie sem dapibus a. Maecenas sollicitudin ac ipsum at commodo. Curabitur varius ultricies purus, eget imperdiet nisl fringilla ac. In hendrerit libero turpis, vitae pretium quam sagittis vitae. Ut elementum diam ac adipiscing volutpat. </div>
					</li>
				</ul>
			</section>
		</section>
		<footer>
		</footer>
	</article>

}{
	<script type="text/javascript">
	//A value is a number of months
	// Min and max month are defined
	var minMonth = { 
		show : "1933-09-01",
		month : 9,
		year : 33
	}
	var maxMonth = {
		show : "1948-12-31",
		month : 12,
		year : 48
	}
	//We compute the max month for the slider
	var maxIntMonth = (maxMonth.year - minMonth.year) * 12 + (maxMonth.month - minMonth.month);
	
	addZ = function (n){return n<10? '0'+n:''+n;}
	//We get some basic function to convert it
	//
	$(document).ready(function() {
		//Show item descriptions
		$(".item-option").on("click", function() {
			$(this).siblings(".item-description").toggleClass("in");
		});
		
		$("#slider-range").slider({
			range: true,
			min: 0,
			max: maxIntMonth,
			values: [ Math.floor(maxIntMonth/4),Math.floor(maxIntMonth/4*3)],
			step:1,
			slide : function(event, ui) {
				dat = $("#slider-val");
				
				//We create a basic object based on min time 
				generalDate = new Date;
				generalDate.setMonth(minMonth.month-1);
				generalDate.setYear("19"+minMonth.year);
				generalDate.setDate(1);
				
				//Which we duplicate and add to the number of month we have ! For minimal value, which should be ui.values[0]
				min = {}
				min.date = generalDate;
				min.date.setMonth(ui.values[0] + (minMonth.month - 1));
				min.show = min.date.toDateString();
				min.val = min.date.getFullYear() + "-" + addZ(min.date.getMonth()+1) + "-" + addZ(min.date.getDate());
				
				//And ui.values[1] should be the max slide point
				max = {}
				max.date = generalDate;
				max.date.setMonth(ui.values[1] + (minMonth.month - 1));
				max.show = max.date.toDateString();
				max.val = max.date.getFullYear() + "-" + addZ(max.date.getMonth()+1) + "-" + addZ(max.date.getDate());
				
				 $("#slider-val .min-show").val(min.show);
				 $("#slider-val .max-show").val(max.show);
				 $("#date-range-min").val(min.val);
				 $("#date-range-max").val(max.val);
			}
		});
		 $( ".date-range-picker.min-show" ).datepicker({
			changeMonth: true,
			changeYear: true,
			minDate: new Date("19" + minMonth.year, minMonth.month - 1, 1),
			maxDate: new Date("19" + maxMonth.year, maxMonth.month - 1, 0),
			dateFormat: "D M dd yy",
			altField: "#date-range-min",
			altFormat: "yy-mm-dd",
			onSelect: function(dateText, inst) {
				console.log(dateText);
				console.log(inst);
			}
		});
		 $( ".date-range-picker.max-show" ).datepicker({ 
			changeMonth: true,
			changeYear: true,
			minDate: new Date("19" + minMonth.year, minMonth.month - 1, 1),
			maxDate: new Date("19" + maxMonth.year, maxMonth.month - 1, 0),
			dateFormat: "D M dd yy",
			altField: "#date-range-max",
			altFormat: "yy-mm-dd"
		});
	});
	</script>
}
